doctype html
html
  head
    title Email Verification
  body
    h1 Verify Your Email
    p Dear #{firstName}, please click the button below to verify your email address:
    form(action=`${url}`, method="POST")
      input(type="hidden" name="token" value=token)
      input(type="hidden" name="creationTime" value=creationTime)
      button(type="submit") Verify Email
